<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= post.title %></h1>
            <hr>
            <div class="image">
                <img src="/<%= post.imageUrl %>" alt="<%= post.title %>">
            </div>
            <h2>Price: $<%= post.price %></h2>
            <h2>Qty:  <%= post.quantity %></h2>
            <h2>Category:  <%= post.category %></h2>
            <h2>Condition:  <%= post.condition %></h2>
            <h2>Location:  <%= post.location %></h2>
            <p><%= post.description %></p>
            <% if(isAuthenticated) { %>
                <%- include('../includes/add-to-bookmark.ejs', {item: post}) %>
                <%- include('../includes/contact.ejs', {item: post}) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>